<div class="container">
  <div class="row rowSpacing text-center" id="strength">
    <div *ngFor="let personality of personalities" class="col-sm pb-4" data-aos="fade-right">
      <img
        [src]="personality.thumbnail"
        class="img-fluid strengths"
        alt="Responsive image"
        value=""
      />
      <h3>{{ personality.title }}</h3>
      <button type="button" class="btn btn-outline-dark strengths buttonColor" (click)="openPersonalityModal(personality)">
        Learn More
      </button>
    </div>
  </div>
</div>
