<div class="container">
  <div class="row rowSpacing text-center" id="strength">
    <div class="col-sm pb-4" data-aos="fade-right">
      <img
        src="assets/images/strength.png"
        class="img-fluid strengths"
        alt="Responsive image"
        value=""
      />
      <h3>StrengthsFinder</h3>
      <button type="button" class="btn btn-outline-dark strengths buttonColor">
        Learn More
      </button>
    </div>

    <div class="col-sm pb-4" data-aos="fade-up">
      <img
        src="assets/images/sight.png"
        class="img-fluid sight"
        alt="Responsive image"
      />
      <h3>FourSight</h3>
      <button type="button" class="btn btn-outline-dark sight buttonColor">
        Learn More
      </button>
    </div>

    <div class="col-sm pb-4" data-aos="fade-left">
      <img
        src="assets/images/standout.png"
        class="img-fluid stand"
        alt="Responsive image"
      />
      <h3>StandOut</h3>
      <button type="button" class="btn btn-outline-dark stand buttonColor">
        Learn More
      </button>
    </div>
  </div>
</div>
