<div class="container">
    <div class="row rowSpacing">
      <div class="col-sm">
        <img
          src="assets/images/selfie.png"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>

      <div class="col-sm">
        <p>
          I am a long-time Floridian who hasn’t grown tired of the state’s
          tourist treasures — from my favorite hangout, Walt Disney World, to
          Florida’s picturesque, white sandy beaches.
        </p>

        <p>
          I graduated from the University of Central Florida (UCF) with a
          bachelor’s degree in interdiscplinary studies, focusing on
          psychology and writing. After nearly six years of serving as a
          communications coordinator in higher education, I earned a certificate from UCF in Web Development. Currently, I am a software developer for Planned Systems International.
        </p>

        <p>
          In my free time, when I'm not taking in Florida’s gems, I'm spending
          time with family, spending too much money on Pokemon Go, standing in
          line for another rice bowl at Sus-Hi Eatstation, writing
          superpower-inspired science fiction or studying The Standard Book of
          Spells, Grade 1. (I'm still waiting for that letter from Hogwarts …
          pesky owls.).
        </p>
      </div>
    </div>
  </div>