<div class="container">
  <div class="row rowSpacing">
    <div class="col-sm-8" data-aos="fade-right" data-aos-duration="750">
      <p>
        Each week, in the UCF Certificate program, I was tasked with creating a
        variety of apps — ranging from simple JavaScript applications to more
        complex projects that leverage node.js and express.js. as well as MySQL
        and MongoDB databases.
      </p>

      <p>
        Below are links to every application I created. Click on the photo or
        button to learn more about a certain project, including bio and GitHub
        link.
      </p>
    </div>

    <div
      class="col-sm text-center"
      data-aos="fade-left"
      data-aos-duration="750"
    >
      <img
        src="assets/images/toys.png"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>

  <div
    class="row rowSpacing d-flex justify-content-center"
    id="projectsDiv"
  >
  <div *ngFor="let project of projects" class="col-4 mb-4 pb-4 text-center">
      <img [src]="project.image" [alt]="project.name" class="img-fluid theProject">
      <h3>{{ project.name }}</h3>
      <button class="btn btn-outline-dark theProject buttonColor">Learn More</button>
  </div>
</div>
</div>
