<div class="modal-header">
    <h5 >{{ personality.title }}</h5>
</div>
<div class="modal-body">
    <div *ngFor="let personality of personality.data" class="mb-2">
        <label>{{ personality.name }}</label> — {{ personality.description }}.
    </div>
    <div>
        For more information on my <label>{{ personality.title }}</label>, <a target="_blank" [href]="personality.url">click here</a>.
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="close()">Close</button>
</div>
