<span id="home"></span>
<app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-aboutme></app-aboutme>
<app-section-header id="strength" sectionName="Personality and Strengths"></app-section-header>
<app-personality-section></app-personality-section>
<app-section-header id="skills" sectionName="Technical Skills"></app-section-header>
<app-technical-section></app-technical-section>
<app-section-header id="projects" sectionName="Projects"></app-section-header>
<app-projects-section></app-projects-section>