<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Social buttons -->
    <h3 class="text-center">Let's Connect!</h3>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item navImages">
        <a href="http://bit.ly/39IjbY7" target="blank"
          ><img src="assets/images/github.png" alt="facebook"
        /></a>
      </li>
      <li class="list-inline-item navImages">
        <a href="http://bit.ly/36FriDb" target="blank"
          ><img src="assets/images/twitter.png" alt="twitter"
        /></a>
      </li>
      <li class="list-inline-item navImages">
        <a href="http://bit.ly/2SVq3LX" target="blank"
          ><img src="assets/images/linkedin.png" alt="linkedin"
        /></a>
      </li>
    </ul>
    <!-- Social buttons -->
  </div>
  <!-- Footer Elements -->
</footer>
