#navText {
    background-color: #6e7376;
    color: white;
    font-size: 1rem;    
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    padding: 0;
}

.nav a {
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}

.nav a:hover {
    color: white;
}