#navText {
    background-color: #6e7376;
    font-size: 1.5rem;
    padding: 0;
}

.home-link {
    color: white;
    font-size: 1.5rem;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav ul {
    margin-bottom: 0;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    padding: 0;
    margin-bottom: 0;
}

.nav a {
    color: white;
    position: relative;
    text-decoration: none;
    margin-left: 1rem;
}

.home-link:hover {
    color: blue;
}

.nav a:hover {
    color: blue;
}