/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Buda', cursive;  
}

h2 {
    font-size: 48px;
}

h3 {
    margin-top: 0.7813rem;
    margin-bottom: 0.7813rem;
    font-weight: bold;
}

h5 {
    font-size: 24px;
}

section {
    color: #1a1a1a;
    background-color: #99CDE4; 
    padding: 0.3125rem
}

.rowSpacing {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

footer {
    background-color: #E9E9E9;
    font-weight: bold;
}