/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

section {
    color: #1a1a1a;
    background-color: #99CDE4; 
    padding: 0.3125rem
}

.rowSpacing {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}